.container{
    background-color: #1565C0;
    opacity: 0.8;
    height:100%;
    background-image: url(gallery/07.jpg);
    background-size:cover;
    background-blend-mode:exclusion;
}
.nav{
    
    padding: 15px;
    font-size: 25px;
    font-family:montserrat;
    color: white;
}
.page-title{
    float:right;
}
.fas fa-times{
    float: left;
}

hr.line{
   width: 100%;
    	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #FAFAFA inset;
}
.sections{
    
    list-style-type: none;
    text-align: center;
     height: 500px;
    padding-top: 0px;
}
.elements{
    list-style: none;
    padding: 0px;
}
.list{
    padding-top:25px;
    padding-bottom:25px;
    display: block;
    padding-left: 0px;
       
}
a{
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 30px;
    font-family:Montserrat;
    font-weight: 600;
    color: white;
    vertical-align: center;
    letter-spacing: 6px;
}
a:hover{
    width: 5px;
    letter-spacing: 1rem;
    transition: letter-spacing 0.4s;
}

.list:hover{
    background-color: #039BE5;
    opacity: 0.6;
}