body, html {
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-size: 20px;
      font-family: montserrat;
      font-weight: 400;
      line-height: 1.6em;
      color: #666;
      background-color: #0e0c27;
    }

/********MENU*********/
.cover-c{
  position: fixed;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  z-index: 4;
  overflow: hidden;
  background-color: #1b3e9a;

}

.cover-c .sections{
  background-color: #1b3e9a;
  background-image: url('../img/menu/bg1.jpg');
  background-size:contain;
  background-blend-mode:darken;
  background-position: top center;
  transition: width 2s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-image 1s ease-in-out;
}


.header{

      background: #0e0c27;
      background-blend-mode: screen;
      z-index: 5;
}

.menu{
    padding: 15px;
    font-size: 25px;
    font-family: montserrat;
    color: white;
}
.page-title{
    float:right;
}

.glyphicon-remove{
    cursor: pointer;
    z-index: 500;
    transition: font-size 0.5s;
}

.glyphicon-remove:hover{
  font-size: 40px;
}

hr.line{
   width: 100%;
    	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #FAFAFA inset;
}
.sections{
    list-style-type: none;
    text-align: center;
     height: 500px;
    padding-top: 0px;
}
.elements{
    list-style: none;
    padding: 0px;
}
.list{
    padding-top:25px;
    padding-bottom:25px;
    display: block;
    padding-left: 0px;
}

.list a{
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 30px;
    font-family:Montserrat;
    font-weight: 600;
    color: white;
    vertical-align: center;
    letter-spacing: 6px;
}
.list a:hover{
    width: 5px;
    letter-spacing: 1rem;
    transition: letter-spacing 0.4s;
}

.list:hover{
    background-color: #039BE5;
    opacity: 0.6;
}

/*********HOME-PAGE *********/
.wrapper{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  grid-gap: 0.3em;
  position: relative;
  background-color: #0e0c27;
}

.image{
  background-blend-mode:multiply;
  background-size: cover;
  background-position: center-top;
  background-color: #352f6f;
  transition: background-color 1s ease-in-out;
}
.image:hover{
  background-color: white;
}
.image1{
  background-image: url(../img/home/01.JPG);
}
.image2{
  background-image: url(../img/home/02.JPG);
}
.image3{
  background-image: url(../img/home/03.JPG);
}
.image4{
  background-image: url(../img/home/04.JPG);
}
.image5{
  background-image: url(../img/home/05.JPG);
}
.image6{
  background-image: url(../img/home/06.JPG);
}
.image7{
  background-image: url(../img/home/07.JPG);
}
.image8{
  background-image: url(../img/home/08.JPG);
}
.image9{
  background-image: url(../img/home/09.JPG);
}
.navbar-c{
  position: fixed;
  height: 8%;
  width: 100%;
  opacity: 1;
  z-index: 2;
}

.text-p{
  position: absolute;
  width: 65%;
  height: 300px;
  top: 29%;
  left: 20%;
  transform: skewY(-5deg);
}

@media screen and (max-width:  900px){
  .text-p{
    height: 250px;
  }
}

.glyphicon-menu-hamburger{
  border: 2px solid #bcb5b5;
  font-size: 30px;
  color: #bcb5b5;
  padding: 0.5%;
  border-radius: 25%;
  cursor: pointer;
  margin:5px;
}

.glyphicon-menu-hamburger:hover{
  border: 2px solid #ffffff;
  font-size: 35px;
  color: #ffffff;
}

.name{
  position: absolute;
  color: #ffffff;
  bottom: 20%;
  font-family:'Montserrat';
  width: 100%;
}

.name h2{
  text-align: center;
  font-size: 2.5em;
}

.name h4{
  text-align: center;
}


/* XXXXXXX--ABOUT--XXXXXXXXXXXXXXXX */
    .container2 {
      background-color: #0e0c27;
      display: inline;
    }
    .img1,
    .img2,
    .img3 {
      width: 60%;
      margin: auto;
      position: relative;
      background-size: cover;
      background-attachment: fixed;
      background-blend-mode: luminosity;
      background-color: #100a58;
      transition: background-color 2s;
    }
    .img1:hover,
    .img2:hover,
    .img3:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    .img1 {
      margin-top: -3%;
      padding-top: 0;
      margin-right: 0.4%;
      background-position: top left;
      background-image: url(../img/About/img1.JPG);
      height: 100%;
    }
    .img2 {
      margin-left: 0.4%;
      background-position: center;
      background-image: url(../img/About/img2.JPG);
      height: 100%;
    }
    .img3 {
      margin-right: 0.4%;
      background-image: url(../img/About/img3.JPG);
      height: 100%;
    }
    .section-1 {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0.8;
      color: white;
      background-color: #0e0c27;
      transition: width 2s ease-in-out;
      overflow-y: scroll;
      display: none;
    }
    .section-2 {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      opacity: 0.8;
      color: white;
      background-color: #0e0c27;
      transition: width 2s ease-in-out;
      overflow-y: scroll;
      display: none;
    }
    .section-3 {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0.8;
      color: white;
      background-color: #0e0c27;
      transition: width 2s ease-in-out;
      overflow: hidden;
      display: none;
    }
    .inside {
      padding: 6%;
    }


    .text-1 {
      position: absolute;
      color: #ffffff;
      left: -45%;
      top: 40%;
      border: 2px solid #ffffff;
      padding: 2%;
      border-radius: 20%;
      cursor: pointer;
    }
    .text-2 {
      position: absolute;
      color: #ffffff;
      right: -43%;
      top: 40%;
      border: 2px solid #ffffff;
      padding: 2%;
      border-radius: 20%;
      cursor: pointer;
    }
    .text-3 {
      position: absolute;
      color: #ffffff;
      left: -45%;
      top: 40%;
      border: 2px solid #ffffff;
      padding: 2%;
      border-radius: 20%;
      cursor: pointer;
    }
    .text-c {
      transition: background-color 2s ease-in-out;
    }
    .text-c:hover {
      background-color: #f4f4f4;
      color: #000000;
    }
    .text-4 {
      text-align: center;
      font-size: 30px;
      position: absolute;
      color: #ffffff;
      border: 2px solid #ffffff;
      padding: 2%;
      border-radius: 20%;
      cursor: pointer;
      text-decoration: none;
      font-weight: 400;
      left: 40%;
      margin-top: 3%;
    }
    .section-4 a:link {
      text-decoration: none;
    }
    .section-4 a:visited {
      text-decoration: none;
      color: #ffffff;
    }
    .section-4 a:hover {
      text-decoration: none;
    }
    .section-4 a:active {
      text-decoration: none;
    }
    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #524e87;
      border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a5a3c6;
    }
    ::-webkit-scrollbar-track {
      border-radius: 50px;
      background: #070623;
      border: 2px solid black;
    }
    .section-4 {
      position: absolute;
      height: 40%;
      width: 100%;
      background-color: #100a58;
    }

    .foot {
      width: 100%;
      bottom: 0px;
      position:absolute;
      background-color: #040311;
      padding: 1%;
      color: white;
      text-align: center;
      font-size: 12px;
    }

      @media screen and (max-width: 735px){
      body,html,.container2{
        margin:0;
        padding: 0;
      }

      .img2,.img3,.img1{
        margin: auto;
        margin-top: 15%;
        width: 100%;
        background-position: center;
      }

      .img1{
        margin-top: 20%;
        width: inherit;
        background-position: center;
      }

      .text-1,.text-2,.text-3{
        top: -75px;
        left: 28%;
        position: absolute;
        font-size: 1em;
        text-align: center;
        width: 40%;
      }

      .section-4{
        margin-top: 6%;
      }

      .text-4{
        margin-top: 13%;
        margin-left: -10%;
      }


    }

/*XXXXXXXXXXXXXXXXXXXXXContactXXXXXXXXXXXXXXXXXXXX*/

.waf1{
      padding-top:80px;
      width: 100%;
      background:url(../img/contact/CONTACT.JPG);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-color: #352f6f;
    }

  .waf2{
    color: #ffffff;
  }

   .waf3{
    color: #ffffff;
    background-color: #352f6f;
    margin-top: 1%;
   }

   .waf4{
    text-align: center;
    padding: 40px;
   }

   .waf5{
    cursor: pointer;
    text-decoration: none;
   }
  

   .foot2{
    bottom: 0;
    position: static;
   }

   #map{
    height: 400px;
    width: auto;
    background-color: #352f6f;
    background-blend-mode: multiply;
    opacity: 0.65;
   }

   .waf6{
    width: 45%;
    height:65%;
    background:transparent;
    background-blend-mode: multiply;
   }

   .waf7{
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat;
    line-height: 5px;
   }


 ::-webkit-input-placeholder {
  font-family: montserrat;
  font-size: 18px;
}


/*************GALLERY************/
.glyphicon-arrow-left, .glyphicon-arrow-right{
  font-size: 30px;
  color:white;
  transition: margin 2s;
}

.glyphicon-menu-left:hover{
  margin-right: 100px;
}
